@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Titillium+Web:wght@400;600&display=swap');

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--font-title);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}
